INFLUXDB_URL=http://localhost:8086
INFLUXDB_TOKEN=my-token
INFLUXDB_ORG=spinning-wheel-org
INFLUXDB_BUCKET=spinning-wheel-data

MODBUS_HOST=localhost
MODBUS_PORT=5020

MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_TOPIC_ALARM=spinning-wheel/alarm

API_HOST=0.0.0.0
API_PORT=8000
